.btn {
  font-size: $default-font-size;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  background: #eee;

  &--primary {
    background-color: $color-primary;
    color: #fff;
    font-weight: 500;
  }
}
